.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ebebeb;
    padding: 2rem 15% 6rem 15%;
}

.about .heading {
    width: 100%;
    color: #232323;
}

.about__img {
    width: 45%;
    max-width: 30rem;
    height: 30rem;
    border-radius: 50%;
    object-fit: cover;
}

.about__desc {
    width: 50%;
    font-size: 1.25rem;
}

.about__underline {
    border-bottom: 5px solid #54be90;
}

.about__cta {
    font-size: 1.5rem;
}

@media (min-width:320px) and (max-width:1200px) {
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }

    .about__desc {
        width: 100%;
    }

    .about__cta {
        text-align: center;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
    }
}

@media (min-width:320px) and (max-width:768px) {
    .about__img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
}

@media (min-width:320px) and (max-width:550px) {
    .about__img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}