.contact {
    background-color: #54be90;
    padding: 2rem 15% 6rem 15%;
}

.contact .heading {
    color: #ffffff;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 4rem;
}

.form__input {
    width: 48%;
    color: #ffffff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ebebeb;
    outline: none;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.form__input::placeholder {
    color: #ebebeb;
}

.form__label {
    width: 100%;
    color: #ebebeb;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.form__textarea {
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    font-family: "Alegreya Sans", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
}

.form__button {
    width: 100%;
    color: #ffffff;
    background-color: #232323;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 4rem;
    padding: 0.75rem;
    cursor: pointer;
}

.form__button:hover {
    box-shadow: 2px 2px 8px 0px rgba(68, 68, 68, 0.75);
}