.header {
    height: 80vh;
    color: #ebebeb;
    background-image: url('../img/frond-1869757_1280.png');
    text-align: center;
    margin-top: 20vh;
    padding-top: 10rem;

    .header__title {
        font-size: 4rem;
        font-weight: normal;
        margin-bottom: 0;
    }

    .header__desc {
        font-size: 3rem;
        font-weight: normal;
        margin-top: 0;
    }
}





.header__link {
    color: #54be90;
    border-bottom: 5px solid #ebebeb;
    font-weight: bold;
    text-decoration: none;
}

.header__link:hover {
    opacity: 0.8;
}