.social {
    background-color: #232323;
    padding: 2rem 15% 6rem 15%;
}

.social .heading {
    color: #ffffff;
    font-size: 2.5rem;
}

.social__container {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.social__link {
    margin: 0 6rem;
}

.social__link svg {
    display: block;
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
}

.social__link svg path {
    fill: #ffffff;
}

.social__link:hover svg path {
    opacity: 0.75;
}