/* color variables */
$color-green: #54be90;
$color-white:#ffffff;
$color-lightgrey:#ebebeb;
$color-text-grey:#444444;
$color-text-darkgrey:#232323;












/* font-size variables */









/* other variables */









/* mixins */