@import url(_variables.scss);
@import url(_section.scss);
@import url(_navigation.scss);
@import url(_header.scss);
@import url(_process.scss);
@import url(_skills.scss);
@import url(_portfolio.scss);
@import url(_about.scss);
@import url(_social.scss);
@import url(_contact.scss);
@import url(_footer.scss);


* {
    box-sizing: border-box;
}

html,
body {
    color: #444444;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}